.remoteSupport {
    position: relative;
    width: 120px;
    height: 60px;
}

.remoteSupport a {
    text-decoration: none;
}

.remoteSupport span {
    position: absolute;
    top: 25.5px;
    left: 50px;
    display: block;
    cursor: pointer;
    color: White;
    font-size: 10px;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 65px;
}
