.footer {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--main-width);
}

@media (max-width: 480px) {
    .footer > .content {
        flex-direction: column;
        row-gap: 1rem;
    }
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
