.container {
  padding: 2em;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #008000;
}

.board {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 60em;
}

.cardSlot {
  width: 4em;
  height: 6em;
  border: solid 4px rgba(200, 200, 200, 0.65);
  border-radius: 0.35rem;
  margin: 0.5em;
}

.stacks {
  display: grid;
  justify-content: center;
}

.tableaus {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.freeCells {
  display: grid;
  justify-content: center;
}
