@font-face {
    font-family: 'Abel';
    src: url('/font/Abel/Abel-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

:root {
    --main-width: 85rem;
    --blue: #1e90ff;
    --white: #ffffff;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #1a1f1f;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

#__next {
    height: 100%;
    width: 100%;
}

*::selection {
    background: rgba(3, 127, 221, 0.4);
}

h1,
h2 {
    font-family: Abel, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
