.resume {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #1a1f1f;
    line-height: 1.5;
}

.icon {
    margin-right: 0.25em;
}

.header {
    text-align: center;
    margin: 0 0 0.75em;
    border-bottom: 5px solid #1a1f1f;
    padding-bottom: 0.75em;
}

.header .name {
    line-height: 1em;
    margin: 0.2em 0;
    font-size: 4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.header .title {
    color: #1a1f1f;
    border: none;
    margin: 0.15em 0;
}

.container {
    display: grid;
    grid-template-columns: 16rem auto;
    grid-gap: 2em;
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1024px;
}

.container h2.sectionTitle {
    margin: 1em 0 0.75em;
    letter-spacing: 0.125em;
    border-bottom: 1px solid black;
}

.container h2.sectionTitle.cropTop {
    margin-top: 0;
}

.contactInfo {
    padding-left: 0;
    list-style-type: none;
}

.contactInfo a {
    text-decoration: none;
    cursor: pointer;
}

.contactInfo li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25em 0;
}

.job .title {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    margin: 0;
}

.job .achievements {
    margin: 0.125em 0 2em 0;
    padding-left: 1.5em;
}

.job .achievements li {
    padding-left: 0.25em;
}

.job .achievements li > ul {
    padding-left: 1.5em;
}

.job .info {
    display: flex;
    padding: 0;
    margin: 0;
}

.job .info li {
    padding-right: 0.95em;
    margin-right: 0.75em;
}

.job .info li:first-child {
    list-style-type: none;
}

.skillList .caption {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.125rem 0;
}

.skillList .skills {
    padding: 0.25em 0 2em 1.2em;
    margin: 0;
}

.skillList .skills.flattened {
    padding-left: 0;
    list-style-type: none;
}

.page2Header {
    display: none;
}

.link {
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.subheading {
    margin: 0;
    font-weight: bold;
}

@media screen and (min-width: 681px) {
    .container {
        grid-gap: 2em;
        grid-template-columns: 8fr 16fr;
    }

    .leftColumn {
        padding-right: 1.75em;
        border-right: 2px solid #1a1f1f;
    }
}

@media screen and (max-width: 680px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container .leftColumn {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        border-right: none;
    }

    .container article {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .job .info {
        display: inherit;
        list-style-type: none;
    }
}
